<header>
    <nav class="px-sm-5 navbar navbar-expand-sm bg-light d-flex justify-content-between">
        <!-- Brand/logo -->
        <div class="d-flex justify-content-between">
            <a class="navbar-brand" routerLink="home" routerLinkActive= "active">
                <i class="fas fa-shopping-cart"></i>
                LOGO
            </a>
            <a class="nav-link d-sm-none d-xs-flex" (click)="showResponsiveMenu()"><i class="fa fa-bars"></i></a>
        </div>


        <!-- Links -->
        <ul class="navbar-nav topnav" id="topNav">
            <li class="nav-item">
                <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="authService.isCurrentUserVolunteer() && isLoggedInAsSearcher()" routerLink="openShoppinglists" routerLinkActive="active">Offene Einkäufe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="isLoggedInAsSearcher()" routerLink="shoppinglists" routerLinkActive="active">Meine Einkaufslisten</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="!authService.isCurrentUserVolunteer() && isLoggedIn()" routerLink="createList" routerLinkActive="active">Liste erstellen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="isLoggedIn()" (click)="authService.logout()" routerLink="login" routerLinkActive="active">{{getLoginLabel()}}</a>
                <a class="nav-link" *ngIf="!isLoggedIn()" routerLink="login" routerLinkActive="active">{{getLoginLabel()}}</a>
            </li>
        </ul>
    </nav>
</header>
<router-outlet></router-outlet>