/*fontawesome icons*/
@import url(../node_modules/@fortawesome/fontawesome-free/css/all.min.css);
/*color variables*/
/*default spacing*/
/*---------------------------------------------*/
/*-----------Default color classes----------------*/
/*---------------------------------------------*/
.bg-primary-color-light {
  background-color: #4ebaaa; }

.bg-primary-color-middle {
  background-color: #56BFA0; }

.bg-primary-color-dark {
  background-color: #005b4f; }

/*---------------------------------------------*/
/*-----------style of overview-----------------*/
/*---------------------------------------------*/
a, .nav-link {
  color: #000; }
  a.active, .nav-link.active {
    color: #56BFA0;
    font-weight: bold !important; }
  a:hover, .nav-link:hover {
    color: #005b4f; }

.navbar.navbar-expand-sm {
  position: fixed;
  width: 100%;
  z-index: 10; }

header {
  padding-bottom: 56px; }

section {
  padding: 16px 0; }

.container {
  padding: 16px; }

/*status-icons*/
*[class^="icon-status"].fa, *[class^="icon-status"].fas {
  padding: 20px;
  font-size: 26px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%; }

*[class^="icon-status"] {
  color: #fff; }

.icon-status-open {
  background: #4ebaaa; }

.icon-status-inprogress {
  background: #56BFA0; }

.icon-status-done {
  background: #005b4f; }

.front-icon {
  padding-right: 8px; }

/*cards container - for status icon*/
.card-item-container {
  position: relative;
  padding: 16px 0; }
  .card-item-container *[class^="icon-status"] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    max-width: 70px; }
  .card-item-container .card {
    left: 35px;
    margin-right: 35px;
    background-color: #fafafa; }
  .card-item-container .card-body {
    margin-left: 35px; }

/*fonts*/
* {
  font-family: Raleway; }

.btn, .nav-item .nav-link, h6 {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  font-weight: 500; }

a, .nav-link {
  cursor: pointer; }

.bs-shoppinglists-overview-item, a.bs-shoppinglists-overview-item:hover,
.bs-shoppinglist-overview-vol-item, a.bs-shoppinglist-overview-vol-item:hover {
  text-decoration: none;
  color: #000; }

.teaser-title {
  color: #56BFA0;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase; }

h6 {
  font-size: 0.9rem; }

/*set shadow-style*/
*[class^="icon-status"], .btn, .card {
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.btn:hover, .btn:active, .btn:focus, .card:hover, .card:active, .card:focus {
  outline: 0;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s; }

.btn {
  padding: 8px 16px; }

.btn-primary {
  background-color: #56BFA0; }
  .btn-primary:hover {
    background-color: #56BFA0;
    opacity: 0.9;
    transition: opacity 1s; }
  .btn-primary.disabled, .btn-primary:disabled, .btn-primary:active, .btn-primary:focus {
    background-color: #56BFA0;
    border-color: #56BFA0; }

.icon-btn {
  background-color: white;
  border: none;
  color: #56BFA0;
  padding: 12px 16px;
  font-size: 20px;
  box-shadow: none; }

.tab-content {
  padding: 16px;
  border: 3px solid #f8f9fa;
  border-top: unset; }

/*---------------------------------------------*/
/*-----------style for detail page-------------*/
/*---------------------------------------------*/
/*tabs of shoppinglist*/
#shoppinglistTabs .nav-link {
  color: #000;
  padding: 16px; }
  #shoppinglistTabs .nav-link.active {
    -webkit-border-radius: unset;
    -moz-border-radius: unset;
    border-radius: unset;
    color: #f2f2f2;
    background-color: #56BFA0; }

.footer-button-container {
  /* float: right; */
  display: flex;
  justify-content: flex-end; }
  .footer-button-container > * {
    margin-left: 16px; }

/*---------------------------------------------*/
/*-----------style for messages----------------*/
/*---------------------------------------------*/
.message-container {
  padding: 8px 0; }

.message-card {
  border: 2px solid #F8F9FA;
  background-color: #F8F9FA;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 16px; }
  .message-card .message-header {
    padding-bottom: 8px; }

/*---------------------------------------------*/
/*-----------style for shoppingitems-----------*/
/*---------------------------------------------*/
th {
  border: none;
  text-transform: uppercase;
  font-size: 0.8rem; }

.table thead tr th {
  border: none; }

/*home*/
.image-button {
  border: 1px solid white;
  border-radius: 4px;
  height: 250px;
  width: 100%;
  display: flex;
  padding: 16px;
  align-items: flex-end;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: bold;
  color: #005b4f; }

.bg-img-shoppinglist, .bg-img-create-list {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.bg-img-shoppinglist {
  background-image: url("assets/images/flat-lay-photography-of-vegetable-salad-on-plate-1640777.jpg"); }

.bg-img-create-list {
  background-image: url("assets/images/woman-s-hand-using-a-pen-noting-on-notepad-6360.jpg"); }

input.form-control, select.form-control, textarea.form-control {
  background-color: #f2f2f2;
  border: unset;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 2px solid #d2d2d2;
  padding: 1.375rem .75rem; }

label {
  margin-bottom: .25rem;
  font-weight: 600; }

h1 {
  margin-top: 3rem; }

/*---------------------------------------------*/
/*-----------login container-------------------*/
/*---------------------------------------------*/
.container.login {
  height: 100vh;
  display: flex; }
  .container.login .login-container {
    width: 80vw;
    height: 60vh;
    border: 2px solid #F8F9FA;
    border-radius: 4px;
    outline: 0;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    margin: auto;
    display: flex; }
    .container.login .login-container .banner-login, .container.login .login-container .form-login {
      width: 50%; }
    .container.login .login-container .banner-login {
      background-color: #56BFA0;
      color: #fff;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 32px; }
    .container.login .login-container .teaser-small {
      text-transform: uppercase;
      font-weight: bold;
      display: flex;
      align-self: flex-end; }
    .container.login .login-container .login.teaser {
      font-size: 3rem;
      font-weight: bold; }

.form-login {
  padding: 32px;
  margin: auto; }

.pull-right {
  float: right; }

/*# sourceMappingURL=styles.css.map */
